.create-collection-form {
  width: 700px;
  /* display: flex; */
  /* justify-content: column; */
  /* align-items: center; */
}

.collection-form-container {
  margin-top: 100px;
  margin-left: 250px;
}
