.create-collection-form {
  width: 700px;
  margin-top: 50px;

  /* display: flex; */
  /* justify-content: column; */
  /* align-items: center; */
}

.collection-container {
  /* margin-top: 100px;
  margin-left: 250px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  flex-wrap: wrap;
  background-color: #ffffff;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.collection-container > * {
  /* max-width: 500px; */
  /* width: 100%; */
}

.collection-card {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  max-width: 400px;
  margin: 30px;
  width: min-content;
}

.collection-cover-image {
  max-width: 400px;
}

.collection-description {
  font-weight: 400;
  background-color: rgb(237, 237, 237);
  color: rgb(41, 41, 41);
}
